.card {
  float: left;
  width: 39px;
  height: 25px;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 4px;
  background-position: 0 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card li {
  display: block;
  float: left;
}

.card-disabled {
  opacity: .3;
}

.card.visa {
  background-image: url(./img/visa.png);
}

.card.dinersclub {
  background-image: url(./img/diners.png);
}

.card.mastercard {
  background-image: url(./img/mastercard.png);
}

.card.jcb {
  background-image: url(./img/jcb.png);
}

.card.americanexpress {
  background-image: url(./img/amex.png);
}

.card.maestro {
  background-image: url(./img/maestro.png);
}

.card.discover {
  background-image: url(./img/discover.png);
}

.card.unionpay {
  background-image: url(./img/union.png);
}

.card.mir {
  background-image: url(./img/mir.png);
}
